<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Ahoua Elvis Ghislain</h1>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    @Html.Action("About", "Home")

    <!-- ======= Skills Section ======= -->
    @Html.Action("Skills", "Home")

    <!-- ======= Resume Section ======= -->
    @Html.Action("Resume", "Home")

    <!-- ======= Portfolio Section ======= -->
    @Html.Action("Portfolio", "Home")

    <!-- ======= Services Section ======= -->
    @Html.Action("Services", "Home")
    <!-- ======= Contact Section ======= -->
    @Html.Action("Contact", "Home")

</main><!-- End #main -->